a{
	text-decoration: none;
	color: DarkCyan;

}

a:hover {
	text-decoration: underline;
}

.elementoItem{
	margin: 30px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	padding: 15px;
}
.elementoItem:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.itemHeader{
	display:flex;
}
.puntItem{
	float:left;
	margin: 0 20% 0 0;
}
.enunciado{
	height:300px;
	margin: 5px;
}
.comentario{
	height:150px;
	width: 50%;
	float:right;
	margin: 5px;
}

.item-data{
	display:flex;
	flex-direction: column;
	float: left;
	width: 60%;
	margin: 0 5%;
}
.item-titulo{
	width:150px;
	height:50px;
	float:center;
	border:1px solid black;
	margin: auto;
	text-align:center;
	padding: 5px;
}
.RA-check{
	width:20%;
	float: left;
	height:350px;
	display:flex;
	overflow: auto;
	flex-direction: column;
	border: 2px solid black;
}


.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	
	margin: 0 10% 0 20%;
	
}

.alumno{
	background: orange;
	border:1px solid black;
	font-size: 20px;
}

.sidebar{
	
	width: 20%;
	float :left;
}

.detalles{
	float: left;
	width: 70%;
}

.opciones{
	float: left;
	width: 20%;
	text-align: right;

}

.row:after {
  	content: "";
  	display: table;
  	clear: both;
  	height: fit-content;
}

.content{
	width: 80%;
	float: left;
	height: auto;
}

.contAsign{
	width:100%;
	height: auto
	padding: 10px;
}

.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}
.card.ramo{
	flex-direction: column;
	height: 300px;
	width: 60%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  width: 100%;
}







.items{
	float: left;
	width: 40%;
	font-size: 20px;
	
}

.card.items{
	margin: 0px 1.5em 0em 10em;
	width: 60%;
}

.lista_clase {
	height:300px; 
	width: 200px;
	overflow:auto;
	float: left;
	font-size: 20px;
	padding: 20px;
	border:2px solid black;
	margin: 10px;
}

.card.evaluacion {
	flex-direction: column;
	width: 60%;
	margin: 20px 20%;
}

.boton{
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	transition-duration: 0.4s;
}

.boton.submitItems{
	margin: 1.5em 1.5em 0em 20%;
	padding: 15px 32px;
}

.boton:hover {
	background-color: #4CAF50;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	color: white;
}

.boton:active {
  background-color: #3e8e41;
  transform: translateY(4px);
  transition: 0.1s
}



.boton.addItem{
	float:right;
	margin:10px;
}