{% extends 'encabezado.html' %}
{% block headerEnc %}{% block titleEnc %}ASIGNATURAS{% endblock %}{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
	<head>
  		<meta charset="utf-8">
  		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/asignaturas.css') }}">
		  <title>Asignaturas</title>
    	
  	</head>
  	<body>
    	<div id="container" style="display: block;">
			<div class="box_container">
				<div class = "card">
					{% for ramo in ramos %}
						<div class="box_card">
							<div>
								<a href="{{url_for('infAsignatura',codigoAsignatura=ramo.codigo)}}" class="link">
									<div id="header_card">
										<h3 class="NombreAsignatura" title={{ramo.nombre_asignatura}} >{{ramo.nombre_asignatura}} II</h3>
										<div class="SemestreActual"> <h4>Semestre {{semester}} - {{year}}</h4></div>
										<div class="CantEstudiantes"> <h5>{{ramo.num_alumnos}} Estudiantes</h5></div></h5>
									</div>
									<div>
										<img class="grafico" src="https://lh3.googleusercontent.com/g0Jw-I6-gH2DVCpnl3u8QKZVT_meR9lcJlpyeSZ-MyvwLnyEZvgyrY5frldA8HCv55s=w280" alt="grafico">
									</div>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
	
			</div>
		</div>
    	
  	</body>
</html>

{% endblock %}