<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/encabezado.css') }}">
</head>

<title>{% block headerEnc %}{% endblock %}</title>

<div class="encabezado">

	<div id="up">
		<div id="left">
			<input type="button" class="boton atras" value="Atras" onclick="history.back(-1)"/>
		</div>
		<div id="right">
			<span>Gonzalo Rojas</span>
			<img src="https://lh3.googleusercontent.com/proxy/r_eJ6mBl43oihvQVBx2KqogXDKOCcn8IPCs1EWvfc0On6Tsl3MC56O19J_8ZRo7Us3lQgoBl2mrvXbeQAAwn26EYu-oLdnwlSlXSkF0RnXMBQX9ZzGgNU7bE4z-Py8lSk23ChGhwrVGmBpGcrJLPMmnmQYO8BOFNF2X5PkCFBohW_ybyv-FY" style="height: 50px;">
		</div>
	</div>

	<div id="down">
		<div id="title">
			{% block titleEnc %}{% endblock %}
		</div>
		<div id="subtitle">
			{% block subtitle %}{% endblock %}
		</div>
	</div>

</div>

{% block content %}{% endblock %}
