
{% extends 'encabezado.html' %}
{% block headerEnc %}{% block titleEnc %}{{asignatura.nombre}}{% endblock %}{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
	<head>
  		<meta charset="utf-8">
  		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/infAsignatura.css') }}">
      <script type="text/javascript" src="{{url_for('static', filename='js/infoAsignatura.js') }}"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  	</head>
  	<body>    	
    	<div class = "row">
    		<div class = "sidebar" id="asignatura-sidebar">
          <p id="res-title">Evaluaciones</p>
          <div id="opciones">
            <a href="{{url_for('addEval', codigoAsignatura=asignatura.codigo)}}" class = "boton" id="eval-btn">Crear evaluación</a>
            <a href="{{url_for('evaluacion.evaluation', asignaturaID=asignatura.codigo)}}" class = "boton" id="eval-btn">Ver evaluación</a>
          </div>
          <p id="res-title"> Resultados de Aprendizaje</p>
    			{% for ra in RAs %}
            <p id="res-nombre"><a href="{{url_for('RAInfo.RAInfo',asignaturaID=asignatura.codigo,RAID=ra.id_resultado)}}">{{ra.nombre}}</a></p>
          {% endfor %}
    		</div>

    		<div class = "content">
    			<div class="wrapper">
    			{% for alumno in alumnos %}
            <div id="myModal-{{loop.index}}" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <div class = "row">
                  <span class="close" id = "close-{{loop.index}}">&times;</span>
                </div>
                <div class = "row">
                  
                </div>
                <img src="{{url_for('static',filename='images/sergio.jpg')}}" alt="Avatar" class = "centerIMG round">
                <div class = "row">
                  <div class = "a">
                    <h4><b>{{alumno.nombre}}</b></h4> 
                  </div>
                </div>
                
                <div class = "row">
                  <img src="{{url_for('static',filename='images/grafico.png')}}" alt="Avatar" class = "centerIMG">
                </div>
                
                <div class = "row" >
                  
                    <button type="button" onclick="" class = "boton centrado" >Ver más</button> 
                 
                </div>
                
              </div>

            </div>
            <div class="card" id = "alumno-{{loop.index}}">
              <img src="{{url_for('static',filename='images/sergio.jpg')}}" alt="Avatar" style="width:33%">
              <div class="container">
                <h4><b>{{alumno.nombre}}</b></h4> 
                <p>Matrícula: {{alumno.num_matricula}}</p> 
              </div>
            </div>
    				<script type="text/javascript">setModal("{{loop.index}}")</script>
    			{% endfor %}
    		</div>
        
    		
		</div>
    	</div>
    	
  	</body>
</html>

{% endblock %}