table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    margin-bottom: 10px;
    width: 70%;
}

summary {
    font-weight: bold;
    font-size: 24px;
    margin: -.5em -.5em 0;
    margin-bottom: 10px;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

/*#listaAlumnos details {
    border: 3px double #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    width: 85%;
}*/

#listaAlumnos summary {
    display: grid;
}

.nombreAlumno{
    grid-row: 1;
    float: left;
    font-weight: bold;
    font-size: 17px;

}

.puntajeResumen{
    grid-row: 1;
    text-align: right;
    font-weight: lighter;
    font-size: 15px;

}

#listaAlumnos details[open] {
    padding: .5em;
}

#listaAlumnos details[open] summary {
    border-bottom: 1px none #aaa;
    margin-bottom: .5em;
}

ul {

  list-style-type: circle;
  

}

ul > ul{

  list-style-type: circle;

}
